<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clockbone.dao.ActivitiMapper" >

    <insert id="insert" parameterType="com.clockbone.model.Apply" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO APPLY(
        id,name,reason,check_name
        )values (#{id},#{name},#{reason},#{checkName})
    </insert>

    <select id="select" resultType="com.clockbone.model.Apply" parameterType="com.clockbone.model.Apply">
        select id,name,reason,check_name as checkName,bus_status busStatus
        from APPLY
        where status='NOR'
        <if test="param.busStatus!=null">
            and bus_status=#{param.busStatus}
        </if>
    </select>
    <update id="updateStatus" >
        update APPLY
        set bus_status=#{busStatus},
        update_time=NOW()
        where id=#{id}
    </update>



</mapper>