<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common/common_head::commonHead('审核')"/>
<body>
<h1>审核</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">序号</th>
        <th scope="col">申请人</th>
        <th scope="col">理由</th>
        <th scope="col">审核 人</th>
        <th scope="col">审核状态</th>
        <th scope="col">审核</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each:${list}">
        <th scope="row" th:text="${each.id}"></th>
        <td th:text="${each.name}">Mark</td>
        <td th:text="${each.reason}">Otto</td>
        <td  th:text="${each.checkName}">@mdo</td>
        <td th:text="${each.busStatus}"/>
        <td th:if="${each.busStatus=='WAIT'}">
            <button type="button" class="btn btn-primary checkApply"
                    th:attr="data-id=${each.id},data-name=${each.name}">同意</button>
            <button type="button" class="btn btn-primary checkUnApply"
                    th:attr="data-id=${each.id},data-name=${each.name}">不同意</button>
        </td>
    </tr>
    </tbody>
</table>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script>
    $(function () {
        //弹出审核 框
        $(".checkApply").click(function () {
            console.log($(this).attr('data-id'))
           alert("确定同意");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/activiti/check" ,
                data: {id:$(this).attr('data-id'),busStatus:'YES'},
                success: function (result) {
                    if (result.code == 200) {
                        alert("成功")
                    }
                    window.location.reload()
                },
                error : function() {
                    alert("异常！");
                }
            });

        });

        $(".checkUnApply").click(function () {
            console.log($(this).attr('data-id'))
            alert("确定不同意");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/activiti/check" ,
                data: {id:$(this).attr('data-id'),busStatus:'NO'},
                success: function (result) {
                    if (result.code == 200) {
                        alert("成功")
                    }
                    window.location.reload()
                },
                error : function() {
                    alert("异常！");
                }
            });

        });

    })
</script>
</body>
</html>