<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::commonHead('申请')"/>
<body>
<h1>申请</h1>

<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal" data-whatever="@申请">申请</button>
<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModal" data-whatever="@取消">取消</button>

<table class="table">
    <thead>
    <tr>
        <th scope="col">序号</th>
        <th scope="col">申请人</th>
        <th scope="col">理由</th>
        <th scope="col">审核 人</th>
        <th scope="col">审核状态</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each:${list}">
        <th scope="row" th:text="${each.id}"></th>
        <td th:text="${each.name}">Mark</td>
        <td th:text="${each.reason}">Otto</td>
        <td  th:text="${each.checkName}">@mdo</td>
        <td th:text="${each.busStatus}"/>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="apply-form">
                    <div class="form-group">
                        <label for="name" class="col-form-label">姓名:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="reason" class="col-form-label">理由:</label>
                        <input class="form-control" id="reason" name="reason"></input>
                    </div>
                    <div class="form-group">
                        <label for="checkName" class="col-form-label">审核人:</label>
                        <input class="form-control" id="checkName" name="checkName"></input>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save">Send message</button>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
<script>
    $(function () {
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            var modal = $(this)
            modal.find('.modal-title').text(' ' + recipient)
            //modal.find('.modal-body input').val(recipient)
        })
        $(".save").click(function () {
            if($("#name").val()==''){
                alert("输入姓名");
                return ;
            }
            if($("#reason").val()==''){
                alert("输入理由");
                return ;
            }
            if($("#checkName").val()==''){
                alert("输入审批人");
                return ;
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/activiti/apply" ,
                data: $('#apply-form').serialize(),
                success: function (result) {
                    console.log(result);
                    console.log(result.code)
                    if (result.code == 200) {
                       window.location.reload()
                    }

                },
                error : function() {
                    $("#exampleModal").modal('hide')
                    alert("异常！");
                }
            });

        })
    })
</script>
</body>
</html>