<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common_head::commonHead('申请')"/>
<body>
<h1>申请</h1>

<a href="/activiti/myProcess" type="button" class="btn btn-primary"
         data-whatever="@申请">我的发起</a>
<a type="button" class="btn btn-primary"
        data-whatever="@取消">我的待办</a>
<a type="button" class="btn btn-primary leave-btn" target="_blank"
   data-whatever="@取消">发起leave</a>
<a type="button" class="btn btn-primary apply-btn" target="_blank"
   data-whatever="@取消">发起apply</a>
<a href="/models/modelist" target="_blank">建立流程图</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">操作</th>
        <th scope="col">流程id</th>
        <th scope="col">流程名称</th>
        <th scope="col">状态</th>
        <th scope="col">当前节点</th>
        <th scope="col">当前处理人</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each:${list}">
        <th scope="row" >
            <span th:if="${each.busStatus=='WAIT'}" class="agree" th:attr="taskId=${each.taskId}">同意</span>
            <span th:if="${each.busStatus=='WAIT'}" class="reject" th:attr="taskId=${each.taskId}">拒绝</span><span></span>
        </th>
        <th scope="row" th:text="${each.processId}"></th>
        <td th:text="${each.processName}">Mark</td>
        <td th:text="${each.busStatus}">Otto</td>
        <td ><a th:if="${each.busStatus=='WAIT'}" th:text="${each.currentNode}" class="diagram-show" th:attr="processDefinitionId=${each.defineProcessId},processInstanceId=${each.processId}"
               >
        </a><a th:if="${each.busStatus=='WAIT'}" th:text="${each.currentNode}+'diagram-viewer'" target="_blank"
               th:href="@{/static/diagram-viewer/index.html(processDefinitionId=${each.defineProcessId},processInstanceId=${each.processId})}"
                th:attr="processDefinitionId=${each.defineProcessId},processInstanceId=${each.processId}"
        ></a></td>
        <td  th:text="${each.currentHandle}">@mdo</td>
    </tr>
    </tbody>
</table>

<script src="/static/js/jquery-ui-1.9.2.min.js"></script>
<script>
    $(function () {
        $(".leave-btn").on("click",function () {
            alert("发起leave申请")
            $.post('/activiti/apply', {"name":"0"}, function (result) {
                if (result.code === 200) {
                    alert("申请成功")
                    window.location.reload();
                } else {
                    Ewin.alert("申请失败");
                }
            }, 'json');
        })
        $(".agree").on("click",function(){
            alert("agree")
            var data={};
            data.taskId=$(this).attr("taskId")
            data.message=1
            console.log(data)
            $.post('/activiti/doprocess', data, function (result) {
                if (result.code === 200) {
                    alert("审批通过")
                    window.location.reload();
                } else {
                    Ewin.alert(result.message);
                }
            }, 'json');

        })
        $(".reject").on("click",function(){
            alert("reject")
            var data={};
            data.taskId=$(this).attr("taskId")
            data.message=2
            console.log(data)
            $.post('/activiti/doprocess', data, function (result) {
                if (result.code === 200) {
                    alert("审批拒绝")
                    window.location.reload();
                } else {
                    Ewin.alert(result.message);
                }
            }, 'json');

        })
        // th:href="@{/static/diagram-viewer/index.html(processDefinitionId=${each.defineProcessId},processInstanceId=${each.processId})}"
        $(".diagram-show").on("click",function(){
            var pid = $(this).attr("processInstanceId")
            var fid = $(this).attr("processDefinitionId")
            //$('#workflowTraceDialog').dialog('close');

            var url = '/static/diagram-viewer/index.html?processDefinitionId=' + fid + '&processInstanceId=' + pid;

            $('<div/>', {
                'id': 'imgDialog',
                title: '此对话框显示的图片是由引擎自动生成的，并用红色标记当前的节点',
                html: '<div><img src="' + url + '" width="100%" height="' + document.documentElement.clientHeight * 0.90 + '" /></div>'
            }).appendTo('body')/*.dialog({
                modal: true,
                resizable: false,
                dragable: false,
                width: document.documentElement.clientWidth * 0.95,
                height: document.documentElement.clientHeight * 0.95
            })*/;

        })

    })
</script>
</body>
</html>